<mat-card>
  <mat-card-header>
    <mat-card-title data-cy="recipe-title">
      <mat-icon>local_dining</mat-icon> {{ recipe.name }}
    </mat-card-title>
    <mat-card-subtitle>
      added on {{ recipe.dateAdded | date: 'longDate' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3 mat-subheader>ingredients</h3>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        <app-ingredient [ingredient]="ingredient"></app-ingredient>
      </mat-list-item>
    </mat-list>
    <button (click)="deleteRecipe()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
