<div fxLayout="column" fxLayoutGap="2%">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        (keyup)="filterRecipe$.next($event.target.value)"
        placeholder="filter"
        type="text"
        data-cy="filterInput"
        [value]="filterRecipeName"
      />
    </mat-form-field>
  </mat-card>
  <mat-card class="error" *ngIf="errorMessage" data-cy="appError">
    got an error while loading the recipe list: {{ errorMessage }}
  </mat-card>
  <div *ngIf="recipes$ | async as recipes; else loadingOrError">
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="start"
    >
      <div
        class="recipe"
        *ngFor="let recipe of recipes"
        fxFlex="0 0 calc(25%-0.5%)"
        fxFlex.xs="100%"
        data-cy="recipeList"
      >
        <app-recipe [recipe]="recipe" data-cy="recipeCard"></app-recipe>
      </div>
    </div>
  </div>

  <ng-template #loadingOrError>
    <span *ngIf="errorMessage; else loading"></span>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
</div>
